
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(./img/teste2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
   font-size:50px;
   margin: 10px 0px 52px 0px;
   color: white;
   padding: 10px 20px 10px 20px;
   background-color: rgba(0, 0, 0, 0.75);
   border-radius: 20px;
}

.container {
    width: 90%;
    max-width: 1180.8px;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.game {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    width: 500px;
    height:500px;
    justify-content: center;
    position: relative;
    gap: 17px;
}

.centro {
    background-color: #f5f3f4;
    border-radius: 100%;
    width: 150px;
    height:150px; 
    box-shadow: 0px 0px 0px 11px rgba(0, 0, 0, 0.17);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.centro:hover {
    background-color: white;
}

.cores {
    height: 225px;
    width: 225px;
    transition: 0.5s;
}
.botao:hover{    
    transform: scale(1.01);
    box-shadow: 0px 0px 80px 0px white;
}

div.cores.top-left {
    border-radius: 100% 5px 5px 5px; 
    background-color: green;
}

div.cores.top-right {
    border-radius: 5px 100% 5px 5px;
    background-color: red;
}

div.cores.bottom-left {
    border-radius: 5px 5px 5px 100%;
    background-color: blue;
}

div.cores.bottom-right {
    border-radius: 5px 5px 100% 5px;  
    background-color: yellow; 
}

.infos {
    height: 150px;
    width: fit-content;
    background-color: white;
    align-self: flex-start;
    margin-top: 60px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.75);
}

.score, .frase {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.score {
    width: 400px;
    gap: 92px;
}

.frase {
    width: 400px;
}

.corClicada {
    transform: scale(0.95);
}

div.cores.botaoPiscando {
    background-color: lightcyan;
    filter: drop-shadow(0px 0px 80px lightcyan);
}